* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
.sanpham{
    display: flex;
    align-items: center;
}
.chitietsanpham ul{
    display: flex;
    justify-content: space-between; 
    border: 1px solid black;
}
.tt{
    border: 1px solid bisque;
}