* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dau{
    background-color: #e83e8c;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.logo {
    width: 130px;
    height: 130px;
}

.search {
    border: none;
    border-radius: 10px;
    height: 32px;
    width: 100%;
    max-width: 100%;
    padding-left: 10px;
    background: #ffffff;
}
.menu input:hover{
        border: 4px solid rgb(203, 123, 123);
}
.menu ul {
    display: flex;
}
.menu ul li{
    padding: 20px 15px 0px 15px;
}
.menu ul li a{
    font-weight: bold;
}
.menu ul li a:hover{
    color: rgb(14, 253, 253);
}

.orther{
    margin-bottom: 28px;
}
.orther ul{
    display: flex; 
}
.orther ul li{
    padding: 0px 15px;
}
.orther ul li a:hover{
    color: rgb(14, 253, 253); 
}
.welcome {
    color: #FFFFFF;
    padding: 5px 0px;
}


/* content */

.slide{
    max-width: 1200px;
    position: relative;
    display: block;
    
}
.slide img{
    max-width: 100%;
    height: 100%;
}



.slide .fa-chevron-left{
    position: absolute;
    top: 45%;
    left: 20px;
    font-size: 32px;
    color: #FFFFFF;
    
}

.slide i:hover{
   color: rgb(229, 189, 189);
}

.slide .fa-chevron-right{
    position: absolute;
    top: 45%;
    right: 20px;
    font-size: 50px;
    color: #FFFFFF;
}

.menu-sanpham ul{
    display: flex;
}
.menu-sanpham ul li a{
    padding: 10px;
}

.thongtin_sp span {
    margin:40px;
    Font: Roboto, sans-serif;
    font-family: 20px;
}

.thongtin_sp del {
    margin-left: 20px;
    Color: #999999;
    Font: Roboto, sans-serif;
    font-family: 14px;
}

.thongtin_sp p {
    margin-left: 20px;
    font-weight: 600;
    font-family: 16px;
    color: #D70909;
    font-family: Roboto, sans-serif;
}

.row{
    max-width: 1225px;
}

.img{
    position: relative;
    overflow: hidden;
}

.MuaNgay a{
    background-color: #ef3340;
    max-width: 100%;
    display: block;
    padding: 10px 0px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    position: absolute;
    bottom: -45px;
    width: 100%;
    transition: 0.25s ease-in-out;
}
.img:hover .MuaNgay a{
    bottom: 0px;
}
.MuaNgay a:hover{
    background-color: #ff2f00;
}
/* code ko càn thiết cho file home */

/* .sanpham {
    display: flex;
    align-items: center;
}

.chitietsanpham ul {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.tt {
    border: 1px solid bisque;
}


.sale{
    background: #D70909;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    display: inline-block;
} */

 #tien{
    color: #D70909;
    font-weight: 600;
    font-size: 20px;
}
.price ul{
    justify-content: space-between;
}


.price ul li i{
    font-size: 30px;
    color: #ec2b2b;
}
.sale{
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #f30c0c;
        border-radius: 50%;
        color: #FFFFFF;
        font-weight: 600; 
        margin-top: 2px;
        margin-left: 2px;
}
.sale p{
    margin: 10px;
}

